@charset "utf-8";

* {margin:0; box-sizing:border-box;}
::-webkit-scrollbar {width:0;}
img {max-width:100%;}
#smoothScroll {height:100vh; overflow:auto; scroll-snap-type:y mandatory; text-align: center;}
#smoothScroll>section {padding:10px; height:100%; scroll-snap-align:start;}
#smoothScroll>section:nth-child(3n+1) {background:gold;}
#smoothScroll>section:nth-child(3n+2) {background:skyblue;}
#smoothScroll>section:nth-child(3n) {background:pink;}

#position {
    position: fixed; right:10px; top:30%;
}
#position button {
    width:50px; height:50px; 
    background-color: white;
    border-radius:50%; 
    box-sizing: border-box;
    display:block; margin:10px;
}
#position button.active {
    background-color: red;
}